.contact_us {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2rem;
    max-width: 1200px; /* Optional: to limit the maximum width */
    margin: 0 auto; /* Center horizontally */
}

.contact_us * {
    font-family: Nunito, sans-serif;
}

.contact_us a, .contact_us button {
    text-decoration: none;
}

.contact_us .text-blk {
    margin: 0;
    line-height: 25px;
}

.contact_us input:focus, .contact_us textarea:focus {
    outline: none;
}

.contact_us .responsive-container-block {
    width: 100%;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
}

.contact_us .responsive-container-block.bigContainer {
    padding: 10px 30px;
}

.contact_us .responsive-container-block.Container {
    max-width: 1320px;
    margin: 50px auto;
}

.contact_us .mainImg {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.contact_us .responsive-cell-block.wk-desk-7.wk-ipadp-8.wk-tab-12.wk-mobile-12 {
    background-color: #333333;
    padding: 30px 50px;
}

.contact_us .text-blk.heading {
    color: white;
    font-size: 35px;
    line-height: 48px;
    font-weight: 800;
    margin-bottom: 30px;
}

.contact_us #message {
    width: 100%;
    padding: 10px;
}

.contact_us .emailArea, .contact_us .fullNameArea {
    width: 49%;
}

.contact_us .firstRow {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 30px;
    width: 100%;
}

.contact_us .cardHead {
    color: white;
    margin-bottom: 10px;
}

.contact_us .submit {
    color: white;
    padding: 20px;
    width: 100%;
    text-align: center;
    background-color: #00b2eb;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

.contact_us .formTable {
    display: flex;
    flex-direction: column;
}

.contact_us .messageArea {
    width: 100%;
    margin-bottom: 30px;
}

.contact_us .fullName, .contact_us .email {
    width: 100%;
    padding: 10px;
}

@media (max-width: 1024px) {
    .contact_us .firstRow {
        flex-direction: column;
    }
    .contact_us .fullNameArea, .contact_us .emailArea {
        width: 100%;
    }
}

@media (max-width: 500px) {
    .contact_us .responsive-container-block.bigContainer {
        padding: 10px 20px;
    }
    .contact_us .responsive-container-block.Container {
        padding: 0;
    }
    .contact_us .responsive-cell-block.wk-desk-7.wk-ipadp-8.wk-tab-12.wk-mobile-12 {
        padding: 10px;
    }
}
