@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
  /* Example custom font */
  background-color: #f0f4f8;
  /* Example background color */
  color: #333;
  /* Example text color */
}

@media (max-width: 768px) {
  .slick-slide img {
    height: 200px;
    /* Adjust as needed for smaller screens */
  }
}